# Mitigación de sesgo en el modelo original

## Índice de Contenido

1. [Preparación del entorno y carga de datos](#1-Preparación-del-entorno-y-carga-de-datos)
2. [Primer método de mitigación](#2-Primer-método-de-mitigación)
    - [Aplicación del método y entrenamiento del modelo](#2.1-Aplicación-del-método-y-entrenamiento-del-modelo)
    - [Evaluación del modelo mediante métricas de clasificación](#2.2-Evaluación-del-modelo-mediante-métricas-de-clasificación)
3. [Segundo método de mitigación](#3-Segundo-método-de-mitigación)
    - [Aplicación del método y entrenamiento del modelo](#3.1-Aplicación-del-método-y-entrenamiento-del-modelo)
    - [Evaluación del modelo mediante métricas de clasificación](#3.2-Evaluación-del-modelo-mediante-métricas-de-clasificación)
4. [Evaluación de equidad de modelos mitigados](#4-Evaluación-de-equidad-de-modelos-mitigados)
5. [Resumen y conclusiones](#5-Resumen-y-conclusiones)

# 1. Preparación del entorno y carga de datos

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from tp_final_fairness_ML.utils.preprocessing import convertir_object_a_categ
import os 
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, confusion_matrix

# Carga de datos
ruta_archivo = os.path.join('..', 'data', 'processed', 'german_credit_data.csv')
g_credit_data = pd.read_csv(ruta_archivo)

# Conversión de columnas tipo objeto a categóricas para mejor manejo
g_credit_data = convertir_object_a_categ(g_credit_data)

In [2]:
# Vista general de los datos
print(f"Dimensiones del dataset: {g_credit_data.shape[0]} filas × {g_credit_data.shape[1]} columnas\n")
print("Primeras 5 filas:")
g_credit_data.head()

Dimensiones del dataset: 1000 filas × 23 columnas

Primeras 5 filas:

,checking_account,duration,credit_history,purpose,credit_amount,savings_account,employment_since,installment_rate,personal_status_sex,other_debtors,...,other_installment_plans,housing,number_credits,job,people_liable,telephone,foreign_worker,target,genre,target_label
0,< 0 DM,6,critical account / other bank,radio/TV,1169,unknown / no account,>= 7 years,4,"male, single",none,...,none,own,2,skilled / official,1,"yes, registered",yes,1,male,low_risk
1,0 <= ... < 200 DM,48,paid duly till now,radio/TV,5951,< 100 DM,1 <= ... < 4 years,2,"female, div/sep/married",none,...,none,own,1,skilled / official,1,none,yes,2,female,high_risk
2,no account,12,critical account / other bank,education,2096,< 100 DM,4 <= ... < 7 years,2,"male, single",none,...,none,own,1,unskilled - resident,2,none,yes,1,male,low_risk
3,< 0 DM,42,paid duly till now,furniture/equipment,7882,< 100 DM,4 <= ... < 7 years,2,"male, single",guarantor,...,none,for free,1,skilled / official,2,none,yes,1,male,low_risk
4,< 0 DM,24,delay in past,car (new),4870,< 100 DM,1 <= ... < 4 years,3,"male, single",none,...,none,for free,2,skilled / official,2,none,yes,2,male,high_risk

In [3]:
# Información general sobre el dataset
g_credit_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   checking_account         1000 non-null   category
 1   duration                 1000 non-null   int64
 2   credit_history           1000 non-null   category
 3   purpose                  1000 non-null   category
 4   credit_amount            1000 non-null   int64
 5   savings_account          1000 non-null   category
 6   employment_since         1000 non-null   category
 7   installment_rate         1000 non-null   int64
 8   personal_status_sex      1000 non-null   category
 9   other_debtors            1000 non-null   category
 10  residence_since          1000 non-null   int64
 11  property                 1000 non-null   category
 12  age                      1000 non-null   int64
 13  other_installment_plans  1000 non-null   category
 14  housing                  1000 non-null   category
 15  number_credits           1000 non-null   int64
 16  job                      1000 non-null   category
 17  people_liable            1000 non-null   int64
 18  telephone                1000 non-null   category
 19  foreign_worker           1000 non-null   category
 20  target                   1000 non-null   int64
 21  genre                    1000 non-null   category
 22  target_label             1000 non-null   category
dtypes: category(15), int64(8)
memory usage: 79.9 KB

# 2. Primer método de mitigación

## 2.1 Aplicación del método y entrenamiento del modelo

## 2.2 Evaluación del modelo mediante métricas de clasificación

# 3. Segundo método de mitigación

## 3.1 Aplicación del método y entrenamiento del modelo

## 3.2 Evaluación del modelo mediante métricas de clasificación

# 4. Evaluación de equidad de modelos mitigados

# 5. Resumen y conclusiones